/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/06/2018, 18:23:27
    Author     : Tatiane
*/
#about {
    margin-bottom: 5%;
}

.w3l_agileits_breadcrumbs_inner {
    float: right;
}

.footer{
    position: inherit;
    bottom: 0;
    width: 100%;
}

.login-center-info .sim-button {
    margin-top: 0em!important;
    background: rgb(65, 131, 154)!important;
    width: 25%!important;
}

#horaMin, #horaMax {
    width: 50px;
    padding: 0 10px;
}

.diaSemana {
    margin-left: 215px;
    margin-bottom: 20px;
}

.horaMin, .horaMax {
    margin-left: 18px;
    margin-top: 10px;
    height: 25px;
}